{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card bg-dark text-white shadow-lg p-4 col-md-6">
        <h4 class="mb-3 text-danger">⚠️ Confirmer la suppression</h4>
        <p>
            Voulez-vous vraiment supprimer la Presence  Nightshift de cette travailleur?
        </p>
        <form method="post" class="d-flex justify-content-between mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                🗑️ Supprimer
            </button>
            <a href="{% url 'liste_nightshift' %}" class="btn btn-secondary">
                ↩️ Annuler
            </a>
        </form>
    </div>
</div>
{% endblock %}
